body{
    background-color: #201636;
    width: 1950px;
    margin: 0;
    overflow: auto; /*для прокрутки*/
}

.screen1{ /*властивості першого блоку*/
    width: 1629px;
    height: 615px;
    margin: 10rem 1rem;
}

.superman{ /*властивості картинки супермена*/
    height: 831px;
    background-image: url(../Lesson№4/img/superman.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.screen1text{/*властивості тексту в першому блоці*/
    height: 100%;
    width: 50%;
    margin-left: 55%;
    padding: 10% 0 0 0;
}

:root{
    --font-montserrat: 'Montserrat', sans-serif;
}

.title1{ /*властивості заголовку першого блоку*/
    width: 670px;
    height: 75px;
    font-family: var(--font-montserrat);
    font-size: 18px;
    text-transform: uppercase; /*зробили всі букви великими*/
    font-weight: bold;
    color: #FFFFFF;
}

.text1{ /*властивості тексту першого підблоку*/
    width: 682px;
    height: 79px;
    font-family: var(--font-montserrat);
    font-size: 18px;
    text-transform: uppercase; /*зробили всі букви великими*/
    color: #FFFFFF;
}

.text2{ /*властивості тексту другого підблоку*/
    width: 670px;
    height: 40px;    
    margin: 5% 0 0 0;
    font-family: var(--font-montserrat);
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}

.start{ /*блок із ракетою*/
    height: 300px;
}

.roket{
    width: 90px;
    height: 85px;  
    background-image: url(../Lesson№4/img/rocket.svg);
    background-repeat: no-repeat;
    display: inline-block; /*зміна типу елемента на блочно-лінійний*/
    margin: 10% 0% -2% 0%;
}

.starttext{ 
    width: 150px;
    height: 85px; 
    display: inline-block; /*зміна типу елемента на блочно-лінійний*/
    font-family: var(--font-montserrat);
    font-size: 18px;
    text-transform: uppercase; /*зробили всі букви великими*/
    font-weight: bold;
    color: #FFFFFF;
}

.line{ 
    display: inline-block;
    background-image: url(../Lesson№4/img/line.svg);
    width: 90px;
    height: 25px;
    background-repeat: no-repeat;
    margin: 0% -3% -1% 5%
}

.rectangle{
    width: 340px;
    height: 90px;
    background-image: url(../Lesson№4/img/rectangle.svg);
    background-repeat: no-repeat;
    display: inline-block;
    padding: 7% 0% 0% 0%;
    margin: 0% 0% 0% 2%;
}

.rectangletext{
    font-family: var(--font-montserrat);
    font-size: 15px;
    text-transform: uppercase;
    /* text-align: center; */
    font-weight: bolder;
    color: #000000;
    margin: -6% 0% 0% 20%;
}

.screen2{ /*властивості першого блоку*/
    height: 1000px;
    background-image: url(../Lesson№4/img/background.svg);
    background-repeat: no-repeat;
    /* background-position: top; */
    /* background-size: cover; */
    margin: 0;
}

.icons{
    padding: 7% 0% 0% 29%;
}

.icon1, .icon2, .icon3{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    display: inline-block;
}

.icon1{
    background-image: url(../Lesson№4/img/icon1.svg);
    padding: 0% 20% 0% 0%;
}

.icon2{
    background-image: url(../Lesson№4/img/icon2.svg);
    padding: 0% 20% 0% 0%;
}

.icon3{
    background-image: url(../Lesson№4/img/icon3.svg);
}

.iconstext{
    padding: 1.5% 0% 0% 21%;
}

.icon1text, .icon2text, .icon3text{
    width: 370px;
    height: 225px;
    display: inline-block;
    font-family: var(--font-montserrat);
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    padding: 0% 0% 0% 1%;
}

span{
    font-weight: bold;
}

.question_man_shadow{
    width: 770px;
    height: 810px;
    display: inline-block;
    margin: -7% 0% 20% 3%;
}

.question{
    background-image: url(../Lesson№4/img/question.svg);
    width: 575px;
    height: 540px;
    display: inline-block;
    background-repeat: no-repeat;    
}

.man{
    background-image: url(../Lesson№4/img/man.svg);
    width: 500px;
    height: 740px;
    background-repeat: no-repeat;
    margin: -60% 0% 0% 32%;
    display: inline-block;
}

.shadow{
    background-image: url(../Lesson№4/img/shadow.svg);
    width: 550px;
    height: 240px;
    background-repeat: no-repeat;   
    display: inline-block;
    margin: -32% 0% 0% 25%;
}

.title2{ /*властивості заголовку другого блоку*/
  /*  width: 1170px; */
    height: 220px;
    font-family: var(--font-montserrat);
    font-size: 18px;
    font-weight: bold;
}

.title2_1{ /*властивості заголовку другого блоку*/
    height: 50px;
    font-family: var(--font-montserrat);
    font-size: 36px;
    font-weight: bolder;
    color: #F09F0C;
    text-align: center;
}

.title2_2{ /*властивості заголовку другого блоку*/
    height: 70px;
    font-family: var(--font-montserrat);
    font-size: 36px;
    font-weight: bolder;
    color: #FFFFFF;
    text-align: center;
}

.title2_3{ /*властивості заголовку другого блоку*/
    font-family: var(--font-montserrat);
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
}

ul{
    display: inline-block;
    line-height: 1.8rem;
    margin: 15% -120% 0% 114%;
}

li{
    list-style-image: url(../Lesson№4/img/Arrow.svg);
    font-family: var(--font-montserrat);
    font-size: 16px;
    color: #FFFFFF;
    
}