body{
    width: 1920px;
    height: 2000px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
:root{
    --font-oswald: 'Oswald', sans-serif;
    --font-opensans: 'Open Sans', sans-serif;
}
.first_screen{
    width: 1920px;
    height: 740px;
    background-image: url(../Lesson№5/img/first-screen_rectangle.svg);
    background-repeat: no-repeat;
    padding: 0.5% 0 0% 0;
    margin: 0% 0% -8% 0%;
}
.logo{ /*логотип*/
    background-image: url(../Lesson№5/img/logo.svg);
    background-repeat: no-repeat;
    height: 20px;
    margin: 0 0 0 20%;
}
.menu-gamburger{ /*блок меню*/
    height: 50px;
    width: 50px;
    background-color: #F7654A;
    margin: 0% 0% 0% 76%;
}
.menu-gamburger_line{ /*пустий рядок меню для здвигу блоку*/
    height: 5px;
    width: 25px;    
    margin: auto;
}
.menu-gamburger_whiteline{ /*білі рядки меню блоку*/
    height: 5px;
    width: 25px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 11% auto;
}
.title1{
    height: 210px;   
    color: #FFFFFF;
    font-family: var(--font-oswald);
    font-size: 64px;
    text-transform: uppercase; /*зробили всі букви великими*/
    text-align: center;
    padding: 6% 0 0 0;
}
.title1_1{
    height: 20px;   
    color: #FFFFFF;
    font-family: var(--font-oswald);
    font-size: 18px;
    text-transform: uppercase; /*зробили всі букви великими*/
    text-align: center;
}
.rectangle_numbers{
    height: 300px;
    width: 1110px;
    background-color: #F7F7F7;
    margin: 0 auto;
    text-align: center;
}
.numbers_item{
    height: 190px;
    width: 190px;
    display: inline-block; /*зміна типу елемента на блочно-лінійний*/   
    text-align: center;
    margin: 5% 0;
 }
.number{
    color: #F7654A;
    font-family: var(--font-oswald);
    font-size: 72px;
}
.number_year{
    color: #000000;
    font-family: var(--font-oswald);
    font-size: 36px;
}
.number_where{
    color: #999999;
    font-family: var(--font-oswald);
    font-size: 18px;
}
.blank_text{
    height: 100px;
}
.project{
    height: 700px;
    width: 1100px;
    text-align: center;
    margin: 0 auto;
}
.project_title{
    height: 100px;   
    color: #404149;
    font-family: var(--font-oswald);
    font-size: 36px;
    text-transform: uppercase; /*зробили всі букви великими*/
    text-align: center;
    font-weight: bolder;
}
.project_arena{
    height: 600px;
    width: 364px;
    display: inline-block; /*зміна типу елемента на блочно-лінійний*/   
    text-align: center;
}
.project_arena_picture{
    height: 370px;
    width: 350px;
    background-image: url(../Lesson№5/img/picture.svg);
    background-repeat: no-repeat;    
}
.project_arena_rectangle{
    height: 6px;
    width: 55px;   
    background-color: #F7654A;
    margin: 13% 0 5% 0;
}
.project_arena_title{      
    color: #404149;
    font-family: var(--font-oswald);
    font-size: 24px;
    text-align: left;
    font-weight: bolder;
}
.project_arena_text{      
    color: #999999;
    font-family: var(--font-opensans);
    font-size: 16px;
    text-align: left;
    margin: 5% 0 0 0;
}
.request{
    height: 180px;
    width: 1920px;
    background-color: #F7654A;
    position: fixed;
    bottom: 0px;   
}
.request_text{
    
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
    padding: 1.5% 21% 0%;
    display: inline-block;
}
.request_text1{
    height: 80px;
    color: #FFFFFF;
    font-family: var(--font-oswald);
    font-size: 48px;
}
.request_text2{
    height: 100px;
    color: #FFFFFF;
    font-family: var(--font-oswald);
    font-size: 24px;
}
.request_buttom{    
    background-color: #FFFFFF;
    display: inline-block;
    margin: 0% 0% 0% -0.5%;
    height: 50px;
    width: 175px;
    position: relative;
    bottom: 2em;
    text-decoration: none;

}
li{
    color: #000000;
    font-family: var(--font-oswald);
    font-size: 14px;
    font-weight: bold;
    list-style-position: inside;
    list-style-image: url(../Lesson№5/img/Letter.svg);
    margin: 0 0 0 -5%;
}